.article-data {
}

.editor-container {
  display: flex;
  font-family: "Source Code Pro";
  /* width: 78ch; */
  width: 70ch;
  margin: 1.5rem 0;
  padding: 1.5rem 0;
  border-top: 2px solid hsl(0, 0%, 96%);
}

/* .gutter {
  width: 8ch;
  margin-right: 3ch;
} */

.editor {
  flex-grow: 1;
  overflow-x: auto;
  min-height: 10rem;
}
