html,
body,
#root,
.app {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.app {
  display: flex;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
  overflow-y: auto;
}
